.history_page{
    position: absolute fixed;
    width: 25%;
    height: 100%;
    right: 0;
    background: whitesmoke;
    z-index: 2;
}

.history_header{
    width: 100%;
    height: 65px;
    background:  #453F5B;
}

.history_button{
    width: 22%;
    height: 40px;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }