.addcard_page{
    position: absolute fixed;
    width: 40%;
    height: 65%;
    top: 20%;
    left: 30%;
    background: whitesmoke;
    z-index: 10;
}

.addcard_header{
    width: 100%;
    height: 45px;
    background:  #453F5B;
}

.addcard_button{
    background-color: #453F5B;
}

.addcard_button:hover{
    background-color: #3c335e;
}

.card_container{
    width: 100%;
    border: 2px #453F5B;
}

.custom_area{
    resize: none;
}

textarea::content{
    padding-left: 10px;
}
