<div class="flex gap-8 m-5">
    @for (item of items; track item.indexOf) {
      <div class="w-96 h-70">
        <div class="mb-2 flex-row border-title border-solid">
          <div class="flex mr-auto font-bold text-lg items-center text-left">List</div>
          <div class="flex font-bold items-center text-lg">4</div>
            <button class="right-0 relative ml-4 text-sm focus:outline-none group">
              <div class="flex items-center justify-between w-10 h-10 rounded ">
                  <svg class="w-5 h-5 mx-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                  </svg>
              </div>
              <div class="absolute right-0 flex-col items-start hidden w-40 mt-1 pb-1 bg-white border border-white-800 shadow-xl group-focus:flex">
                  <a class="w-full px-4 py-2 text-left hover:bg-gray-100" href="#">Edit</a>
                  <a class="w-full px-4 py-2 text-left hover:bg-gray-100" href="#">Delete</a>
              </div>
            </button>  
        </div>
  
      <a class=" mb-2 flex dottet-border items-center justify-center flex-shrink-0 h-10 px-3 mt-auto text-sm font-medium rounded hover:bg-gray-100" href="#">
        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
        </svg>
          <span class="ml-2 leading-none">Add New Card</span>
      </a>
  
        <ul>
          <li class="flex items-start">
            <input type="checkbox" class="mr-2">
            Item 1 in List 2
          </li>
          <li class="flex items-start">
            <input type="checkbox" class="mr-2">
            Item 2 in List 2
          </li>
          <li class="flex items-start">
            <input type="checkbox" class="mr-2">
            Item 3 in List 2
          </li>
        </ul>
  
      </div>
    }
  </div>
  
  
  