<form [formGroup]="listForm">
    <div class="flex-row">
        <input type="text" placeholder="Enter list title..." name="first-name" id="first-name" autocomplete="given-name" class="block w-48 rounded-md border-0 px-3 py-2 text-gray-900 shadow-sm ring-1 ring-inset bg-gray-200 ring-gray-300 placeholder:text-black focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6" formControlName="title">
        
            <div class="flex mt-3 w-48 gap-3 justify-between ">
                @if(editable){
                    <button  (click)="onSubmitEditList()" (click)="onClick()" class="flex gap-2 w-full border-button border-solid addcard_button text-white items-center justify-center text-sm rounded focus:outline-none">
                        <span class="m-2">Save</span>
                    </button> 
                }@else {
                    <button  (click)="onSubmitCreateList()" (click)="onClick()" class="flex gap-2 w-full border-button border-solid addcard_button text-white items-center justify-center text-sm rounded focus:outline-none">
                        <span class="m-2">Add list</span>
                    </button>
                }
                 
                <button (click)="onClick()" class="flex gap-2 w-full border-button border-solid items-center text-sm justify-center rounded focus:outline-none  hover:bg-gray-200">
                    <span class="m-2">Cancel</span>
                </button> 
            </div> 
    </div>
</form>
    

