.addcard_page{
    position: absolute fixed;
    width: 97.2%;
    height: 80%;
    top: 10%;
    left: 1.4%;
    background: #f5f5f5;
    z-index: 10;
}
.card_container{
    width: 130%;
}

.addcard_header{
    width: 100%;
    height: 45px;
    background:  #453F5B;
}

.open-card{
    z-index: 10000;
}

.addcard_button:hover{
    background-color: #3c335e;
}

.priority_{
    gap: 124px
}

.card_history{
    height: 100%;
    width: 100%;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
