<h1 class="text-3xl font-bold text-left m-5" >Three Lists</h1>

<div class="flex gap-2 m-5">
  @for (item of items; track item.indexOf) {
    <div class="dottet-border w-96 h-70  rounded ">
      <h3 class="font-bold text-lg text-center">List</h3>
      <ul>
        <li class="flex items-start">
          <input type="checkbox" class="mr-2">
          Item 1 in List 2
        </li>
        <li class="flex items-start">
          <input type="checkbox" class="mr-2">
          Item 2 in List 2
        </li>
        <li class="flex items-start">
          <input type="checkbox" class="mr-2">
          Item 3 in List 2
        </li>
      </ul>
    </div>
  }
</div>


