<app-header-component [currentBoard]="currentBoard"></app-header-component>

@if(isHistoryVisibleComponent){
}

<div class="flex gap-8 m-5 ">
    @for (list of currentBoard.catalogs; track list.id){
        <app-list-component [currentList]="list" class="app-list-component"></app-list-component>
    }

    @if(isAddListVisibleComponent){
        <app-add-list (outputEvent)="handleOutputEvent($event)"  [lists]="currentBoard.catalogs" [board]="currentBoard"></app-add-list>
    }@else if(isAddListVisible){
            <div class="mb-2 h-11 flex-row w-80 border-title border-solid">
                <div class="flex mr-auto font-bold text-lg items-center text-left">Add @if(currentBoard.catalogs.length > 0){ another } list</div>
                <button (click)="onClickAddList()" class="right-0 relative ml-4 text-sm focus:outline-none group">
                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 4a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2h-6v6a1 1 0 1 1-2 0v-6H5a1 1 0 1 1 0-2h6V5a1 1 0 0 1 1-1z" fill="#0D0D0D"/></svg>
                </button>  
            </div>   
    }
</div>


