<app-history-component></app-history-component>

<div class="flex justify-between -z-50">
    <h1 class="text-3xl font-bold text-left m-5" >{{currentBoard.title}}</h1>
    <div class="flex">
        <button (click)="onClickReturn()" class="flex gap-2 border-button border-solid m-5 items-center text-sm justify-end font-bold rounded focus:outline-none  hover:bg-gray-100">
            <svg class="ml-2" width="15px" height="15px" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.9998 8L6 14L12.9998 21" stroke="#000000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M6 14H28.9938C35.8768 14 41.7221 19.6204 41.9904 26.5C42.2739 33.7696 36.2671 40 28.9938 40H11.9984" stroke="#000000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>
            <span class="mr-2">Go Back</span>
        </button> 
        <button (click)="onClick()" class="flex gap-2 addcard_button text-white border-button border-solid m-5 items-center text-sm justify-end font-bold rounded focus:outline-none  hover:bg-gray-100">
            <svg class="ml-2" width="15px" height="15px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="#FFFFFF"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.507 12.324a7 7 0 0 0 .065-8.56A7 7 0 0 0 2 4.393V2H1v3.5l.5.5H5V5H2.811a6.008 6.008 0 1 1-.135 5.77l-.887.462a7 7 0 0 0 11.718 1.092zm-3.361-.97l.708-.707L8 7.792V4H7v4l.146.354 3 3z"/></svg>
            <span class="mr-2">History</span>
        </button> 
    </div>
      
</div>
