<form [formGroup]="boardForm">
    <div class="flex bg-gray-200 rounded-lg p-4 m-2">
        <div class="flex-row mt-5 items-center w-2/4">
            <input placeholder="Enter title..." class="center h-8 w-full px-3 py-2 rounded-md" formControlName="title">
            <div class="text-red-400 text-sm" *ngIf="boardForm.controls['title'].invalid && (boardForm.controls['title'].touched || boardForm.controls['title'].dirty)">
                <span *ngIf="boardForm.controls['title'].errors?.['required']"> * Required</span>
                <span *ngIf="boardForm.controls['title'].errors?.['maxlength']"> * Too long</span>
            </div>
        </div>
        <div class="flex w-6/12 justify-between items-center flex-col ml-4">
            <div class="flex items-center gap-2 ">
                @if(!isEditable){
                    <a (click)="onSubmitCreateBoard()" class="p-2 addboard_button addboard_button:hover text-white leading-none rounded font-medium m-1 bg-gray-300 text-xs uppercase hover:bg-gray-400">Create Board</a>
                }@else{
                    <a (click)="onSubmitEditBoard()" class="p-2 addboard_button addboard_button:hover text-white leading-none rounded font-medium m-1 bg-gray-300 text-xs uppercase hover:bg-gray-400">Save Board</a>
                }
            </div>
            <div class="flex items-center gap-2 ">
                <a (click)="onClick()"class="p-2 leading-none rounded font-medium m-1 bg-gray-300 text-xs uppercase hover:bg-gray-400">Cancel</a>
            </div>
        </div>
    </div>
</form>